BasedOnStyle: WebKit
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
AlignEscapedNewlines: Left
AttributeMacros: [ ]
BinPackArguments: false
BinPackParameters: false
BracedInitializerIndentWidth: 4
BreakBeforeBraces: Allman
BreakInheritanceList: BeforeComma
BreakTemplateDeclarations: Yes
ColumnLimit: 120
FixNamespaceComments: true
ForEachMacros: [ ]
IfMacros: [ ]
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<([A-Za-z0-9\Q/-_\E])+>'
    Priority: 1
  - Regex: '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority: 2
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 3
IncludeIsMainRegex: ''
IndentExternBlock: NoIndent
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
LambdaBodyIndentation: Signature
Language: Cpp
LineEnding: LF
NamespaceIndentation: All
PackConstructorInitializers: Never
PointerAlignment: Right
QualifierAlignment: Left
ShortNamespaceLines: 0
SortIncludes: CaseInsensitive
SpaceAfterCStyleCast: true
StatementAttributeLikeMacros: [ ]
StatementMacros: [ ]
TabWidth: 4
UseTab: Never
WhitespaceSensitiveMacros: [ ]
