#-------------------------------------------------------------------------------------------
# Copyright (c) 2020-present, SkillerRaptor <skillerraptor@protonmail.com>
#
# SPDX-License-Identifier: MIT
#-------------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------------
# Editor Config
#-------------------------------------------------------------------------------------------
root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

# C/C++ files
[*.{c,cpp,h,hpp}]
indent_style = tabs
indent_size = 2
guidelines = 80
