[submodule "Source/ThirdParty/fmt"]
	path = Source/ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Source/ThirdParty/DirectXShaderCompiler"]
	path = Source/ThirdParty/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler
[submodule "Source/ThirdParty/SPIRV-Headers"]
	path = Source/ThirdParty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "Source/ThirdParty/SPIRV-Tools"]
	path = Source/ThirdParty/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
