#-------------------------------------------------------------------------------------------
# Copyright (c) 2022, SkillerRaptor
#
# SPDX-License-Identifier: MIT
#-------------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------------
# Editor Files
#-------------------------------------------------------------------------------------------
/.cache/
/.idea/
/.vs/
/.vscode/

#-------------------------------------------------------------------------------------------
# Rust
#-------------------------------------------------------------------------------------------
debug/
target/
**/*.pdb
**/*.rs.bk

#-------------------------------------------------------------------------------------------
# Other files
#-------------------------------------------------------------------------------------------
/logs/

