[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/rttr"]
	path = vendor/rttr
	url = https://github.com/rttrorg/rttr
[submodule "vendor/SPIRV-Cross"]
	path = vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/meshoptimizer"]
	path = vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "vendor/DirectXShaderCompiler"]
	path = vendor/DirectXShaderCompiler
	url = https://github.com/Microsoft/DirectXShaderCompiler
[submodule "vendor/SPIRV-Headers"]
	path = vendor/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "vendor/SPIRV-Tools"]
	path = vendor/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
