#-------------------------------------------------------------------------------------------
# Copyright (c) 2022-20232023 SkillerRaptor
#
# SPDX-License-Identifier: MIT
#-------------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------------
# Editor Files
#-------------------------------------------------------------------------------------------
/.cache/
/.idea/
/.vs/
/.vscode/

#-------------------------------------------------------------------------------------------
# Rust
#-------------------------------------------------------------------------------------------
/target/
**/*.pdb
**/*.rs.bk

