root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

# C++ files
[*.{cpp,c,h,hpp}]
indent_style = space
indent_size = 4

# MSBuild
[*.{csproj,proj,projitems,shproj,fsproj,target,props}]
indent_style = space
indent_size = 2
