name: build-windows

on: [ push, pull_request ]

jobs:
  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd
    steps:
    - name: Download Submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Generate Project Files
      run: cmake -G "Visual Studio 16 2019" -A x64 -S . -B build

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Build Solution
      run: msbuild -property:Configuration=Release,MultiProcessorCompilation=true -maxCpuCount -verbosity:minimal -noLogo build/HyperEngine.sln
